<mat-toolbar class="header">
  <span class="header__item">WorkoutApp</span>
  <button mat-button class="header__item">
    <mat-icon>person</mat-icon>
    Profile
  </button>
  <button mat-button class="header__item">
    <mat-icon>history</mat-icon>
    History
  </button>
  <button mat-button class="header__item">
    <mat-icon>add</mat-icon>
    Start Workout
  </button>
  <button mat-button class="header__item">
    <mat-icon>fitness_center</mat-icon>
    Exercises
  </button>
</mat-toolbar>
