<div class="profile">
  <app-main-layout>
    <header class="profile__header">
      <img class="profile__image mat-elevation-z8" src="/assets/images/profiles/male.png" alt="male">
      <div class="profile__header-information">
        <h1>John Doe</h1>
        <div class="profile__header-actions">
          <button mat-raised-button>Edit my profile</button>
          <button mat-raised-button>
            <mat-icon>share</mat-icon>
          </button>
          <button mat-raised-button>
            <mat-icon>settings</mat-icon>
          </button>
        </div>
        <app-profile-stats-card></app-profile-stats-card>
      </div>
    </header>
    <main class="profile__main">
      <mat-grid-list cols="4" rowHeight="1:1">
        <mat-grid-tile *ngFor="let item of [].constructor(100); let i = index">
          <app-post></app-post>
        </mat-grid-tile>
      </mat-grid-list>
    </main>
  </app-main-layout>
</div>;
