@import 'variables.scss';

.main {
  display: flex;
  justify-content: center;
  background: $bg-color-lightgrey;
  height: 100%;

  &__inner {
    max-width: $layout-max-width;
    width: 100%;
  }
}
